{
  "extends": ["eslint:recommended", "plugin:vue/vue3-recommended", "prettier"],
  "rules": {
    "vue/no-unused-vars": "error"
  },
  "env": {
    "browser": true,
    "amd": true,
    "node": true
  },
  "ignorePatterns": ["*.config.js"]
}
